XTerm*background: black
XTerm*foreground: light gray
!XTerm*font: xft:Terminus:size=12
XTerm*renderFont: true
XTerm*forceBoxChars: true
XTerm*faceName: Consolas
XTerm*faceSize: 11
XTerm*scrollWithBuffer: True
XTerm*scrollBar: false
XTerm*vt100.geometry: 90x30
XTerm*selectToClipboard: true

! cyan
*color6:  #00AAAA
*color14: #55FFFF

! blue
*color4:  #0000AA
*color12: #5555FF

Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
