Rxvt*background: black
Rxvt*foreground: light gray
Rxvt*font: xft:Terminus:size=12
Rxvt*scrollWithBuffer: True
Rxvt*scrollBar: false

! cyan
*color6:  #00AAAA
*color14: #55FFFF

! blue
*color4:  #0000AA
*color12: #5555FF

Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

