Rxvt*background: black
Rxvt*foreground: light gray
Rxvt*font: xft:Terminus:size=10
Rxvt*scrollWithBuffer: True
Rxvt*scrollBar: false

Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

