[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=redshift
Comment=
Exec=redshift -P -O 2700 -m randr
StartupNotify=false
Terminal=false
Hidden=false
